body {
    background-color: #FFFFFF;
    color: #000000;
}
 
.contenttext, .boxcontentdown, .edgetitle .top, .edge1 .top, .edge2 .top, .edge3 .top, #top, #content, #footer {
    background-color: #FFFFFF;
}
 
.barcenter, .bar {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid black;
}
 
.name_cont {
    background-color: #E6E6E6;
    padding-right: .3em;
    padding-left: .3em;
    color: #000000 !important;
}
 
.tr1, .row1
{
color:#000000;
background-color:#FFFFFF;
}
 
.tr2, .row2
{
color:#000000;
background-color:#F2F2F2;
}
 
.tablecontent03, .titleboxcontent
{
background-color:#000000;
}
 
IMG.displayed {
    display: block;
    margin: 10px;}
 
.tabelle 
{
border: 1px solid black;
border-collapse:collapse;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
font-family:verdana, geneva, sans-serif;
width:100%;
border-spacing:0px;
}
 
.profiltitel 
{
color:#ffffff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
text-align: center;
background-color:#000000;
font-size:14px;
font-weight:bold;
}
 
.profilueberschrift 
{
color:#ffffff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
text-align: center;
background-color:#000000;
font-size:12px;
}
 
.profilinhalt 
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
width:50%;
font-size:12px;
background-color:#FFFFFF;
}
 
.ligatitel 
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
text-align: center;
background-color:#FFFFFF;
font-size:12px;
}
 
.ligaueberschrift 
{
color:#ffffff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
text-align: center;
background-color:#000000;
font-size:12px;
}
 
.ligainhalt 
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
width:70%;
font-size:12px;
background-color:#FFFFFF;
}

.statuten
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
text-align: center;
width:70%;
font-size:11px;
background-color:#FFFFFF;
}

.links
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
width:30%;
font-size:12px;
background-color:#FFFFFF;
}
 
.pokale 
{
border: 1px solid black;
border-collapse:collapse;
padding-top:5px;
padding-bottom:5px;
font-family:verdana, geneva, sans-serif;
width:33%;
border-spacing:0px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size:12px;
}
 
.historie 
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
width:28%;
font-size:12px;
background-color:#FFFFFF;
}
 
.saison
{
color:#000000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
border: 1px solid black;
border-collapse:collapse;
width:16%;
font-size:12px;
background-color:#FFFFFF;
}
 
.logos
{
color:#000000;
padding-left:0px;
padding-right:0px;
padding-top:0px;
padding-bottom:0px;
border: 1px solid black;
border-collapse:collapse;
width:10%;
font-size:12px;
background-color:#FFFFFF;
border-spacing:0px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
